*{
  letter-spacing: 0px;
}
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.activatednavsetting{
  border-bottom: 1px solid black;
}
.tager{
  width: fit-content;
}
.banner{
  width: 100%;
  height: 350px;
}
.mainpost{
  width: 100%;
  height: 100%;

  justify-content: center;
  align-items: center;
}
.tager{

  box-shadow: 1px 1px 1px 1px rgb(182, 182, 182);

}
.projectdesc{
  word-break: break-all;
}

.activated{
  padding: 5px;
  border-bottom: 1px solid black;
}

.messanger{
  height: calc(100vh -90px);
}

.loader{


  animation: linear Loader 2s infinite;


}
.scrollable::-webkit-scrollbar {
  width: 8px;
}
.scrollable::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.scrollable::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
.scrollable::-webkit-scrollbar-thumb:hover {
  background: #abeeee;
}

.dotlist{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: max-content;
  margin: auto;
  animation: rotate linear 2s infinite;
}

.alldot{

  width: 30px;
  height: 30px;
  border-radius: 50%;
  animation: loading ease-in-out 2s infinite;

}
.preloader{
  position: relative;
  overflow: hidden;
}
.preloader::after{

  content: '';

  position: absolute;
  display: flex;

  height: 550px;
  width: 0px;
  left: 0px;
  top: -50px !important;

  transform: rotate(30deg);
  background-color: rgb(255, 255, 255);

  animation: 1.2s linear preloader infinite;
  box-shadow: 0px 0px 73px 10px #ffffff !important;

}

@keyframes preloader {

  0%{
    left: -200px;
  }
  100%{
    left: 100%;
  }

}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading {

  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.5) rotate(45deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }


}

@keyframes Loader {


  0%{
    transform: rotate(0deg);
  }

  100%{
    transform: rotate(360deg);
  }
  
}